In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('payment_fraud.csv')

In [15]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
0,29,1,4.745402,28.204861,0,0,1,0
1,725,1,4.742303,0.000000,0,0,0,1
2,845,1,4.921318,0.000000,0,1,0,0
3,503,1,4.886641,0.000000,0,1,0,0
4,2000,1,5.040929,0.000000,0,1,0,0

In [4]:
df = pd.get_dummies(data=df,columns=['paymentMethod'])

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(labels='label',axis=1), df['label'], test_size=0.33, random_state=42)

In [6]:
lg = LogisticRegression()
lg.fit(X_train,y_train)

LogisticRegression()

In [7]:
ypred = lg.predict(X_test)

In [8]:
accuracy_score(y_test,ypred)

1.0

In [9]:
confusion_matrix(y_test,ypred)

array([[12753,     0],
       [    0,   190]], dtype=int64)

In [10]:
print(classification_report(y_test,ypred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     12753
           1       1.00      1.00      1.00       190

    accuracy                           1.00     12943
   macro avg       1.00      1.00      1.00     12943
weighted avg       1.00      1.00      1.00     12943